pre {
  background-color: #eee;
}
code {
  background-color: #eee;
  padding: 2px 5px;
}
/* Background */
.chroma {
  background-color: #eee;
}
/* Error */
.chroma .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}
/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block;
}
/* LineHighlight */
.chroma .hl {
  display: block;
  width: 100%;
  background-color: #ffffcc;
}
/* LineNumbersTable */
.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f;
}
/* LineNumbers */
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f;
}
/* Keyword */
.chroma .k {
  color: #000000;
  font-weight: bold;
}
/* KeywordConstant */
.chroma .kc {
  color: #000000;
  font-weight: bold;
}
/* KeywordDeclaration */
.chroma .kd {
  color: #000000;
  font-weight: bold;
}
/* KeywordNamespace */
.chroma .kn {
  color: #000000;
  font-weight: bold;
}
/* KeywordPseudo */
.chroma .kp {
  color: #000000;
  font-weight: bold;
}
/* KeywordReserved */
.chroma .kr {
  color: #000000;
  font-weight: bold;
}
/* KeywordType */
.chroma .kt {
  color: #445588;
  font-weight: bold;
}
/* NameAttribute */
.chroma .na {
  color: #008080;
}
/* NameBuiltin */
.chroma .nb {
  color: #0086b3;
}
/* NameBuiltinPseudo */
.chroma .bp {
  color: #999999;
}
/* NameClass */
.chroma .nc {
  color: #445588;
  font-weight: bold;
}
/* NameConstant */
.chroma .no {
  color: #008080;
}
/* NameDecorator */
.chroma .nd {
  color: #3c5d5d;
  font-weight: bold;
}
/* NameEntity */
.chroma .ni {
  color: #800080;
}
/* NameException */
.chroma .ne {
  color: #990000;
  font-weight: bold;
}
/* NameFunction */
.chroma .nf {
  color: #990000;
  font-weight: bold;
}
/* NameLabel */
.chroma .nl {
  color: #990000;
  font-weight: bold;
}
/* NameNamespace */
.chroma .nn {
  color: #555555;
}
/* NameTag */
.chroma .nt {
  color: #000080;
}
/* NameVariable */
.chroma .nv {
  color: #008080;
}
/* NameVariableClass */
.chroma .vc {
  color: #008080;
}
/* NameVariableGlobal */
.chroma .vg {
  color: #008080;
}
/* NameVariableInstance */
.chroma .vi {
  color: #008080;
}
/* LiteralString */
.chroma .s {
  color: #dd1144;
}
/* LiteralStringAffix */
.chroma .sa {
  color: #dd1144;
}
/* LiteralStringBacktick */
.chroma .sb {
  color: #dd1144;
}
/* LiteralStringChar */
.chroma .sc {
  color: #dd1144;
}
/* LiteralStringDelimiter */
.chroma .dl {
  color: #dd1144;
}
/* LiteralStringDoc */
.chroma .sd {
  color: #dd1144;
}
/* LiteralStringDouble */
.chroma .s2 {
  color: #dd1144;
}
/* LiteralStringEscape */
.chroma .se {
  color: #dd1144;
}
/* LiteralStringHeredoc */
.chroma .sh {
  color: #dd1144;
}
/* LiteralStringInterpol */
.chroma .si {
  color: #dd1144;
}
/* LiteralStringOther */
.chroma .sx {
  color: #dd1144;
}
/* LiteralStringRegex */
.chroma .sr {
  color: #009926;
}
/* LiteralStringSingle */
.chroma .s1 {
  color: #dd1144;
}
/* LiteralStringSymbol */
.chroma .ss {
  color: #990073;
}
/* LiteralNumber */
.chroma .m {
  color: #009999;
}
/* LiteralNumberBin */
.chroma .mb {
  color: #009999;
}
/* LiteralNumberFloat */
.chroma .mf {
  color: #009999;
}
/* LiteralNumberHex */
.chroma .mh {
  color: #009999;
}
/* LiteralNumberInteger */
.chroma .mi {
  color: #009999;
}
/* LiteralNumberIntegerLong */
.chroma .il {
  color: #009999;
}
/* LiteralNumberOct */
.chroma .mo {
  color: #009999;
}
/* Operator */
.chroma .o {
  color: #000000;
  font-weight: bold;
}
/* OperatorWord */
.chroma .ow {
  color: #000000;
  font-weight: bold;
}
/* Comment */
.chroma .c {
  color: #999988;
  font-style: italic;
}
/* CommentHashbang */
.chroma .ch {
  color: #999988;
  font-style: italic;
}
/* CommentMultiline */
.chroma .cm {
  color: #999988;
  font-style: italic;
}
/* CommentSingle */
.chroma .c1 {
  color: #999988;
  font-style: italic;
}
/* CommentSpecial */
.chroma .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* CommentPreproc */
.chroma .cp {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* CommentPreprocFile */
.chroma .cpf {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* GenericDeleted */
.chroma .gd {
  color: #000000;
  background-color: #ffdddd;
}
/* GenericEmph */
.chroma .ge {
  color: #000000;
  font-style: italic;
}
/* GenericError */
.chroma .gr {
  color: #aa0000;
}
/* GenericHeading */
.chroma .gh {
  color: #999999;
}
/* GenericInserted */
.chroma .gi {
  color: #000000;
  background-color: #ddffdd;
}
/* GenericOutput */
.chroma .go {
  color: #888888;
}
/* GenericPrompt */
.chroma .gp {
  color: #555555;
}
/* GenericStrong */
.chroma .gs {
  font-weight: bold;
}
/* GenericSubheading */
.chroma .gu {
  color: #aaaaaa;
}
/* GenericTraceback */
.chroma .gt {
  color: #aa0000;
}
/* GenericUnderline */
.chroma .gl {
  text-decoration: underline;
}
/* TextWhitespace */
.chroma .w {
  color: #bbbbbb;
}

html {
  scroll-behavior: smooth;
}

.l-main {
  max-width: 1000px;
}

article {
  max-width: 700px;
  margin: 0 auto;
}

main .post {
  display: grid;
  grid-template-columns: 15em 1fr 15em;
  grid-template-areas: "filler content toc";
  margin: 0 auto;
  min-height: 100vh;
}

.p-article {
  grid-area: content;
}

.toc {
  grid-area: toc;
  position: sticky;
  top: 1rem;
  align-self: start;
  margin-top: 2rem;
  padding-left: 5px;
  border-left: 1px solid #efefef;
}

.toc h4 {
  margin: 0;
}

.toc ul {
  padding-left: 20px;
}

.toc li {
  list-style: circle;
}

.mail-list p {
  font-size: 1.4rem;
}

@media screen and (max-width: 600px) {
  main .post {
    grid-template-areas:
      "toc"
      "content";
    grid-template-columns: 100%;
    grid-template-rows:
      minmax(min-content, max-content)
      1fr;
  }

  .toc {
    position: static;
  }
}
