{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL | urlize }}
<div class="post">
<article class="p-article">
    <header>
      <h1>{{ .Title }}</h1>
      <div>
        <div class="c-time">
          Posted on
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Format "Jan 2, 2006" }}
          </time>
        </div>
        {{ range .Params.tags }}
        <a href="{{ $baseurl }}/tags/{{ . | urlize }}" class="c-tag">{{ . }}</a>
        {{ end }}
      </div>
    </header>
    {{ with .Params.thumbnail }}
    <img src="{{ . }}" alt="thumbnail" class="p-article__thumbnail">
    {{ end }}
    <section id="js-article" class="p-article__body">
      {{ .Content }}
    </section>
    <footer>
      <div class="mail-list">
        <hr>
        <p>If you'd like to discuss this article, send a message to
        the <a href="https://lists.sr.ht/~kevinjfoley/assorted-array">site's
        mailing list</a>
        at <a href="mailto:~kevinjfoley/assorted-array@lists.sr.ht?Subject=Re: {{ trim .Title " " }}">
        ~kevinjfoley/assorted-array@lists.sr.ht</a>
      </div>
      <nav class="p-pagination c-pagination">
        <div class="c-pagination__ctrl">
          <div class="c-pagination__newer">
            {{ if .NextInSection }}
            <a href="{{ .NextInSection.Permalink }}">Newer</a>
            {{ else }}
            {{ end }}
          </div>
          <div class="c-pagination__older">
            {{ if .PrevInSection }}
            <a href="{{ .PrevInSection.Permalink }}">Older</a>
            {{ else }}
            {{ end }}
          </div>
        </div>
      </nav>
      {{ partial "related.html" . }}
      {{ partial "siteinfo.html" . }}
    </footer>
  </article>
{{ if ge (len .TableOfContents) 33 }}
<nav class="toc">
  <h4>Table of Contents</h4>
  {{ .TableOfContents }}
</nav>
{{ end }}
</div>
{{ partial "footer.html" . }}
